<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*購物車JS*@
    <script type="text/javascript">
        $(document).ready(function () {
            /// <summary>
            /// 網頁載入完成時，執行的 function
            /// </summary>
            /// <returns></returns>
            console.log("Ready;!");
        });

        function AddToCart(productId) {
            /// <summary>
            /// 加入編號為 productId 的商品到購物車
            /// </summary>
            /// <param name="productId">The product identifier.</param>
            /// <returns></returns>
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data: { id: productId },
                error: function (message) {
                    console.log(message);
                },
                success: function (message) {
                    // 將回傳的購物車頁面，填入 li#Cart
                    $('li#Cart').html(message);
                }
            });

            function RemoveFromCart(productId) {
                /// <summary>
                /// 從購物車移除編號為 productId 的商品
                /// </summary>
                /// <param name="productId">The product identifier.</param>
                /// <returns></returns>
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RemoveFromCart", "Cart")',
                    data: { id: productId },
                    error: function (message) {
                        console.log(message);
                    },
                    success: function (message) {
                        // 將回傳的購物車頁面，填入 li#Cart
                        $('li#Cart').html(message);
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IT鐵人購物網站", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("商品管理", "Index", "Product")</li>
                    <li>@Html.ActionLink("會員管理", "Index", "ManageUser")</li>
                    <li id="Cart">
                        @{
                            Html.RenderPartial("_CartPartial");
                        }
                    </li>
                </ul>

                @{
                    Html.RenderPartial("~/Views/Shared/_LoginPartial.cshtml");
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


</body>
</html>
