@model List<MaiDotMvcShopping.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>商品列表</h2>
@if (ViewBag.ResultMessage != null) // 判斷如果有訊息，則顯示訊息。
{
    @Html.Label("info", (string)ViewBag.ResultMessage, new { @class = "text-info" })
}
<table class="table">
    <thead>
        <tr>
            <th>編號</th>
            <th>名稱</th>
            <th>描述</th>
            <th>售價</th>
            <th>庫存</th>
        </tr>
    </thead>
    <tbody>
        @*使用 foreach 將所有商品列出*@
        @foreach (var product in this.Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
            </tr>
        }
    </tbody>
</table>
